<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>DisplayAPI</title>
</head>
<style>
  h1{
    opacity: 1.0;
    font-size: 40px;
    margin-left: 20px;
    text-align: left;
    }

  h2{
    opacity: 1.0;
    font-size: 25px;
    margin-left: 20px;
    text-align: left;
    }

  p{
    opacity: 1.0;
    font-size: 20px;
    margin-right: 20px;
    text-align: left;
    }

img{
    margin-top: 5px;
   }


#hp{
    float: left;
    margin: 0 15px 0 0;
   }

body{
    background-color: #bee6c4;
   }

</style>
<body>
<h1>Species Name</h1>

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8F7M2jFBVW1x5Gcn4wyYIJfgvD9yDQmR_Uw&usqp=CAU" alt = "*pretend there's a plant pic here :)" id = "hp" width = 25% height = 15%>

<p> <h2>Latin Name</h2>
    Family: *family <br>
    Climate: *climate <br>
    Origin: *origin<br>
</p>

    <div>
        <img src= "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAABCAYAAAAo2wu9AAAAAXNSR0IArs4c6QAAABNJREFUKFNjZGBg+M8wCgZNCAAAjqQBAcqlVHcAAAAASUVORK5CYII=" width = 100% height = 1px>
    </div>

</body>
</html>